<% content_for :title do %>About Living Word Community of Faith<% end %>
<% content_for :description do %>LWCOF Primary Website<% end %>
<div>
	<p> Steve Taylor, II, Senior Pastor <br>
		Church was founded in 1989 as Highway Six Missionary Baptist Church <br>
		In 1999 the name was changes to Living Word Community of Faith <br>
	</p>
</div>
