<% content_for :title do %>Welcome to Living Word Community of Faith<% end %>
<% content_for :description do %>LWCOF Primary Website<% end %>
<div>
	<p> Where we are living the promise of God </p>
</div>
