<div id="left_header">
	<%= image_tag("lwcof_logo.png", :alt => "LWCOF Logo", :height => "50%", :width => "50%") %>
</div>
<div id="mid_header">
	Living Word Community of Faith
</div>
<div id="right_header">
</div>
<nav class="top_menu">
  <%= link_to 'Home', root_path %>
  <%= render 'layouts/navigation_links' %>
</nav>
